:root {
  --rowNum: 16;
  --colNum: 16;
}

#welcome{
  width: inherit;
  text-align: center;
  font-family: 'Lobster', cursive;
  font-size: 50px;
}

.but {
  border: solid black 2px;
  padding: 10px 20px;
  background-color: white;
  font-size: 20px;
  font-family: 'Raleway', sans-serif;
  margin: 10px;
}

#clearbutton{
  position: fixed;
  bottom: 30px;
  left: 50px;
  border:solid white 2px;
  background-color: white;
  font-size: 20px;
  font-family: 'Raleway', sans-serif;
}

.selectText{
  font-size: 25px;
  font-family: 'Montserrat', sans-serif;
  margin-bottom: 15px;
}

#container {
  height: 600px;
  width: 600px;
  background-color: white;
  display: grid;
  grid-template-columns: repeat(var(--colNum), 1fr);
  grid-template-rows: repeat(var(--rowNum), 1fr);
  justify-content: end;
  border: solid black 2px;
  padding: 10px 10px 10px 10px;
  margin: 0 40px;
  z-index: 1;
  float: right;
}

.content {
  background-color: white;
  align-items: center;
  justify-content: center;
}

#buttonContainer{
  height: 600px;
  width: 500px;
  margin: 0 40px;
  padding: 10px 10px 10px 10px;
  //border: solid black 2px;
  float: left;
  align-items: center;
}

#blackbutton{
  background-color: black;
  color: white;
  border: solid white 2px;
}
